.landingpage {
    height: 100vh;
    width: 100%;
    background-color: rgba(20, 29, 47, 1);
    padding-top: 106px;
    overflow: hidden;

    .container {
        max-width: 1120px;
        margin: 0 auto;
        position: relative;
    }

    .hero-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: calc(100% - 106px);
        width: 100%;
        padding-top: 50px;
        position: relative;

        .photo-container {
            background-image: url('/assets/img/shadows1.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
        }

        .image {
            display: flex;
            justify-content: center;
            align-items: center;
            width: auto;
            height: 76vh;
            max-height: 100%;

            >img {
                max-width: 100%;
                height: auto;
            }
        }

        .text-container {
            height: 100%;
            width: 100%;

            .name-and-contact {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                height: 100%;
                width: auto;

                .name-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: center;
                }

                .i-am {
                    color: rgba(255, 255, 255, 1);
                    font-size: 71px;
                    font-family: 'Poppins';
                    line-height: 87.8px;
                    display: flex;
                    width: 100%;
                }

                .name {
                    display: flex;
                    flex-direction: column;

                    >h1 {
                        font-size: 94px;
                        font-weight: 700;
                        line-height: 108px;
                        color: rgba(255, 255, 255, 1);
                    }

                    >h2 {
                        font-size: 50px;
                        font-weight: 400;
                        line-height: 69.9px;
                        color: rgba(151, 71, 255, 1);
                    }
                }
            }
        }
    }

    .buttons-and-mail {
        position: absolute;
        z-index: 2;
        top: 105%;
        transform: translateY(-50%);
        display: flex;
        justify-content: row;
        height: 20vh;
        background-color: rgba(20, 29, 47, 1);
        color: white;

        .social-buttons {
            position: relative;
            flex-direction: row;
            display: flex;
            align-items: flex-start;
            justify-content: flex-start;
            height: 100%;
            width: 373px;

            .vector-2 {
                width: 100px;
                height: 4px;
                margin-top: 15px;
            }

            .buttons-img {
                width: 100%;
                display: flex;
                height: 30px;
                justify-content: space-evenly;

                >a {
                    &:hover {
                        transform: scale(1.2);
                    }
                }
            }
        }

        .e-mail {
            width: 248px;
            height: 28px;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 23px;
            line-height: 27.6px;
            color: rgba(255, 255, 255, 1);
            text-decoration: none;

            &:hover {
                transform: scale(1.05);
            }
        }
    }

    .vector-one {
        position: absolute;
        top: calc(534px + 50% - 857px / 2);
        left: 0;
        width: 100%;
        height: 30vh;
        z-index: 1;
    }

    .vertikal-wiggle {
        z-index: 1;
        position: absolute;
        top: calc(668px + 46% - 429.5px);
        right: calc(550px + 30% - 941px);
        display: flex;
        align-items: center;
        transform: rotate(90deg);
        text-decoration: none;
        color: #fff;
        font-size: 17px;

        >img {
            transform: rotate(-90deg);
            align-self: center;
            width: 26px;
        }
    }


}

@media (max-width: 364px) {
    .landingpage .container .hero-container .text-container .name-and-contact .name-container .name h1 {
        font-size: 35px;
    }

    .landingpage .container .hero-container .text-container .name-and-contact .name-container .name h2 {
        font-size: 25px;
    }
    .landingpage .container .hero-container .text-container .name-and-contact .name-container .im .i-am {
        font-size: 25px;
    }
}




@media(min-height:667px) {
    .landingpage {
        .container {
            .hero-container {
                padding-top: 35px;
            }

            .photo-container {
                .image {
                    padding-top: 0px;
                }
            }
        }
    }
}



@media(max-width:605px) {
    .landingpage {
        .hero-container {
            padding-top: 77px;

            .photo-container {
                width: 270px !important;
            }
        }
    }

}

@media (max-width: 1119px) {
    .section {
        display: flex;
        flex-direction: column;
    }

    .hero-container {
        flex-direction: column;
        padding-top: 193px;

        .photo-container {
            width: 300px !important;

            .image {
                height: 100%;
                padding-top: 120px;
                width: 100%;
            }
        }

        .text-container {
            padding-right: 0;
            text-align: center;
            padding-right: 0px !important;

            .name-and-contact {
                width: 100%;
                padding-bottom: 140px;
                padding-top: 20px;

                .name-container {
                    .im {
                        .i-am {
                            font-size: 35px;
                            line-height: 1.2
                        }
                    }

                    ;

                    .name {
                        h1 {
                            font-size: 55px;
                            line-height: 1.2;
                        }

                        h2 {
                            font-size: 35px;
                            line-height: 1.2;
                        }
                    }
                }

                a {
                    padding-bottom: 79px !important;
                    padding-top: 20px;

                    .lets-talk {
                        position: static;
                    }
                }
            }


        }
    }

    .social-contact {
        display: none;
    }
}


@media(max-height: 690px) {
    .landingpage {
        .hero-container {
            display: flex;
        }
    }

    .social-contact {
        display: none;
    }
}
@media(max-height: 666px) {
    .landingpage{
        padding-top: 0px;
        .container{
            .hero-container{
                .photo-container{
                    width: 200px !important; 
                }
                .text-container{
                    .name-and-contact{
                        .name-container{
                            .im{
                                .i-am{
                                    font-size: 30px;
                                }
                            }
                            .name{
                                h1{
                                    font-size: 40px;
                                }
                                h2{
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}


@media(max-height: 667px) {
    .landingpage {
        .hero-container {
            display: flex;

            .photo-container {
                width: 270px !important;
            }
        }
    }
}