<section class="landingpage">
    <div class="hero-container">
        <div class="photo-container">
            <div class="image">
                <img src="/assets/img/profile.png" alt="">
            </div>
        </div>
        <div class="text-container">
            <div class="name-and-contact">
                <div class="name-container">
                    <p class="i-am">I am</p>
                    <div class="name">
                        <h1>Felix Koch</h1>
                        <h2>Frontend Developer</h2>
                    </div>
                </div>
                <a href="#">
                    <button class="lets-talk"> Kontakt </button>
                </a>
            </div>
        </div>
    </div>
    <div class="social-contact">
        <img class="vector-one" src="/assets/img/vector1.png" alt="">
        <a href="#" class="vertikal-wiggle">
            <span> Scroll down</span>
            <img class="arrow-down" src="assets/img/arrow-down-line.png" alt="">
        </a>
    </div>
</section>
