<section class="landingpage">
    <div class="container"> 
        <div class="hero-container">
            <div class="photo-container">
                <div class="image">
                    <img src="../../../assets/img/profile1.png" alt="">
                </div>
            </div>
            <div class="text-container">
                <div class="name-and-contact">
                    <div class="name-container">
                        <div class="im">
                            <p class="i-am">{{ 'LANDINGPAGE.Iam' | translate }}</p>
                        </div>
                        <div class="name">
                            <h1>{{ 'LANDINGPAGE.FelixKoch' | translate }}</h1>
                            <h2>{{ 'LANDINGPAGE.Softwareengineer' | translate }}</h2>
                        </div>
                    </div>
                    <a href="#contact">
                        <button class="lets-talk">{{ 'LANDINGPAGE.Contact' | translate }}</button>
                    </a>
                </div>
            </div>
        </div>
        <div class="social-contact">
            <div class="buttons-and-mail">
                <div class="social-buttons">
                    <img class="vector-2" src="../../../assets/img/vector2.png" alt="">
                    <div class="buttons-img">
                        <a href="https://github.com/FelixKoch93" target="_blank">
                            <img src="../../../assets/img/github-button.svg" alt="">
                        </a>
                        <a href="mailto:felix.koch93@outlook.de">
                            <img src="../../../assets/img/email-button.svg" alt="">
                        </a>
                        <a href="https://www.linkedin.com/in/felix-koch-9b7b012a4/" target="_blank">
                            <img src="../../../assets/img/linkedin-button.svg" alt="">
                        </a>
                    </div>
                </div>
                <a href="mailto:felix.koch93@outlook.de" class="e-mail">
                    felix.koch93&#64;outlook.de
                </a>
            </div>
            <img class="vector-one" src="/assets/img/vector1.png" alt="">
            <div class="vertikal-wiggle">
                <span>{{ 'LANDINGPAGE.ScrollDown' | translate }}</span>
                <img class="arrow-down" src="assets/img/arrow-down-line.png" alt="">
            </div>
        </div>
    </div>
</section>
