.about-me {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(20, 29, 47, 1);
    background-image: url('../../../assets/img/shadow2.png');
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: calc(100% + 420px);
    background-position-y: center;
    position: relative;
    font-family: 'Poppins';
    padding-bottom: 50px;
    padding-top: 115px;



    .container {
        max-width: 1120px;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
    }

    .text-part {
        max-width: 50%;
        display: flex;
        flex-direction: column;
        padding-right: 100px;
        gap: 35px;
        color: rgba(255, 255, 255, 1);

        h3 {
            font-size: 80px;
            font-weight: 700;
            line-height: 108px;
        }

        >p {
            margin-block-start: 0;
            margin-block-end: 0;
            line-height: 1.5;
        }

        .personal {
            display: flex;
            gap: 35;
            align-items: flex-start;

            >img {
                padding-right: 20px;
                height: 60px;
                width: 70px;
            }
        }
    }

    .image-part {
        height: auto;
        width: 450px;
        position: relative;
        z-index: 2;
        display: flex;
        align-items: center;

        >img {
            width: 100%;
            border-radius: 100%;
            border: 4px solid rgba(112, 230, 28, 1);
        }
    }
}

@media(max-width:1111px) {
    .about-me {
        padding-left: 0px;
        padding-right: 0px;

        .text-part {
            max-width: 100%;
            padding-right: 0px;
            padding-left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 50px;
            }

            >p {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .personal {
            padding-left: 20px;
            padding-right: 20px;
        }

        .image-part {
            display: none;
        }
    }
}

@media(min-width:378px) and (max-width:431px){
    .about-me{
       padding-top: 0px; 
    }
}

@media(max-width:269px) {
    .about-me {
        .text-part {
            h3 {
                font-size: 40px;
            }

            .personal{
                display: flex;
                flex-direction: column;
            }
        }
    }
}

@media(max-height: 600px) {
    .about-me {
        padding-left: 0px;
        padding-right: 0px;

        .text-part {
            max-width: 100%;
            padding-right: 0px;
            padding-left: 0px;
            display: flex;
            justify-content: center;
            align-items: center;

            h3 {
                font-size: 50px;
            }

            >p {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        .personal {
            padding-left: 20px;
            padding-right: 20px;
        }

        .image-part {
            display: none;
        }
    }
}