<section class="about-me">
    <div class="text-part">
        <h3>{{ 'ABOUTME.AboutMe' | translate }}</h3>
        <p>
            {{ 'ABOUTME.Introduction' | translate }}
        </p>
        <div class="personal">
            <img src="../../../assets/img/lamp.svg" alt="">
            <p>
                {{ 'ABOUTME.Skills' | translate }}
            </p>
        </div>
        <div class="personal">
            <img src="../../../assets/img/puzzle.svg" alt="">
            <p>
                {{ 'ABOUTME.Puzzle' | translate }}
            </p>
        </div>
    </div>
    <div class="image-part">
        <img class="vector-2" src="../../../assets/img/profile.png" alt="">
    </div>
</section>
