<section>
    <div class="container">
    <h1>{{ 'PRIVACYPOLICY.Headline' | translate }}</h1> <br>
    <h3>{{ 'PRIVACYPOLICY.Introduction' | translate }}</h3> <br>
    <h4>{{ 'PRIVACYPOLICY.Introduction' | translate }}</h4>
    <p>{{ 'PRIVACYPOLICY.Interest' | translate }}</p> <br>

    <p>{{ 'PRIVACYPOLICY.ResponsibleParty.Name' | translate }}</p>
    <p>{{ 'PRIVACYPOLICY.ResponsibleParty.Address' | translate }}</p>
    <p>{{ 'PRIVACYPOLICY.ResponsibleParty.Email' | translate }}</p> <br>

    <h4>{{ 'PRIVACYPOLICY.DataCollection.OnWebsiteVisit' | translate }}</h4>
    <p>{{ 'PRIVACYPOLICY.DataCollectionDetails.OnWebsiteVisit.Information' | translate }}</p>
    <ul>
        <li>{{ 'PRIVACYPOLICY.DataCollectionDetails.OnWebsiteVisit.StoredInformation.IPAddress' | translate }}</li>
        <li>{{ 'PRIVACYPOLICY.DataCollectionDetails.OnWebsiteVisit.StoredInformation.AccessDateTime' | translate }}</li>
        <li>{{ 'PRIVACYPOLICY.DataCollectionDetails.OnWebsiteVisit.StoredInformation.FileNameURL' | translate }}</li>
        <li>{{ 'PRIVACYPOLICY.DataCollectionDetails.OnWebsiteVisit.StoredInformation.ReferrerURL' | translate }}</li>
        <li>{{ 'PRIVACYPOLICY.DataCollectionDetails.OnWebsiteVisit.StoredInformation.BrowserDetails' | translate }}</li>
    </ul> <br>

    <p>{{ 'PRIVACYPOLICY.DataCollectionDetails.ContactFormUsage' | translate }}</p> <br>

    <h4>{{ 'PRIVACYPOLICY.DataTransfer' | translate }}</h4>
    <p>{{ 'PRIVACYPOLICY.DataTransferText' | translate }}</p> <br>

    <h4>{{ 'PRIVACYPOLICY.Cookies.Description' | translate }}</h4>
    <p>{{ 'PRIVACYPOLICY.Cookies.Explanation' | translate }}</p> <br>

    <h4>{{ 'PRIVACYPOLICY.Rights.Description' | translate }}</h4>
    <ul>
        <li>{{ 'PRIVACYPOLICY.Rights.RightsList.InfoRequest' | translate }}</li>
        <li>{{ 'PRIVACYPOLICY.Rights.RightsList.DataCorrection' | translate }}</li>
        <li>{{ 'PRIVACYPOLICY.Rights.RightsList.DataDeletion' | translate }}</li>
        <li>{{ 'PRIVACYPOLICY.Rights.RightsList.DataRestriction' | translate }}</li>
        <li>{{ 'PRIVACYPOLICY.Rights.RightsList.DataPortability' | translate }}</li>
    </ul> <br>

    <h4>{{ 'PRIVACYPOLICY.ObjectionRight.Description' | translate }}</h4>
    <p>{{ 'PRIVACYPOLICY.ObjectionRight.Explanation' | translate }}</p> <br>
    </div>
</section>
