<section>
    <div class="container">
        <h1>{{ 'IMPRINTPAGE.ImprintTitle' | translate }}</h1><br>

        <p>{{ 'IMPRINTPAGE.GermanLegalInformation' | translate }}</p><br>
        <p>{{ 'IMPRINTPAGE.Name' | translate }}: {{ 'IMPRINTPAGE.FelixKoch' | translate }}</p>
        <p>{{ 'IMPRINTPAGE.Address' | translate }}</p>
        <p>{{ 'IMPRINTPAGE.CityPostalCode' | translate }}</p>
        <p>{{ 'IMPRINTPAGE.Country' | translate }}</p><br>

        <h3>{{ 'IMPRINTPAGE.Contact' | translate }}</h3>
        <p>{{ 'IMPRINTPAGE.Phone' | translate }}: {{ 'IMPRINTPAGE.YourPhoneNumber' | translate }}</p>
        <p>{{ 'IMPRINTPAGE.Email' | translate }}: {{ 'IMPRINTPAGE.YourEmailAddress' | translate }}</p><br>

        <h2>{{ 'IMPRINTPAGE.LegalResponsibility' | translate }}</h2>
        <p>{{ 'IMPRINTPAGE.Name' | translate }}: {{ 'IMPRINTPAGE.FelixKoch' | translate }}</p>
        <p>{{ 'IMPRINTPAGE.Address' | translate }}</p>
        <p>{{ 'IMPRINTPAGE.CityPostalCode' | translate }}</p>
        <p>{{ 'IMPRINTPAGE.Country' | translate }}</p><br>

        <h2>{{ 'IMPRINTPAGE.Disclaimer' | translate }}</h2><br>
        <h3>{{ 'IMPRINTPAGE.DisclaimerContent.ContentLiability' | translate }}</h3><br>
        <p>{{ 'IMPRINTPAGE.DisclaimerContent.ContentLiabilityText' | translate }}</p>

        <h3>{{ 'IMPRINTPAGE.DisclaimerContent.Links' | translate }}</h3><br>
        <p>{{ 'IMPRINTPAGE.DisclaimerContent.LinksText' | translate }}</p>

        <h3>{{ 'IMPRINTPAGE.DisclaimerContent.Copyright' | translate }}</h3><br>
        <p>{{ 'IMPRINTPAGE.DisclaimerContent.CopyrightText' | translate }}</p>
    </div>
</section>