<section class="social-links">
    <div class="social-buttons">
        <img class="vector-2" src="../../../assets/img/vector2.png" alt="">
        <div class="buttons-img">
            <a href="#">
                <img src="../../../assets/img/github-button.svg" alt="">
            </a>
            <a href="#">
                <img src="../../../assets/img/email-button.svg" alt="">
            </a>
            <a href="#">
                <img src="../../../assets/img/linkedin-button.svg" alt="">
            </a>
        </div>
    </div>
    <a href="" class="e-mail">
         felix.koch93outlook.de
    </a>
</section>