<section class="social-links">
    <div class="container"> 
        <div class="social-buttons">
            <img class="vector-2" src="../../../assets/img/vector2.png" alt="">
            <div class="buttons-img">
                <a href="https://github.com/FelixKoch93" target="_blank">
                    <img src="../../../assets/img/github-button.svg" alt="">
                </a>
                <a href="mailto:felix.koch93@outlook.de">
                    <img src="../../../assets/img/email-button.svg" alt="">
                </a>
                <a href="https://www.linkedin.com/in/felix-koch-9b7b012a4/" target="_blank">
                    <img src="../../../assets/img/linkedin-button.svg" alt="">
                </a>
            </div>
        </div>
        <a href="mailto:felix.koch93@outlook.de" class="e-mail">
            felix.koch93outlook.de
        </a>
    </div>
</section>
