*{
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins' !important; 
}

/* Breite des Scrollbalkens */
::-webkit-scrollbar {
  width: 8px; /* Breite des Scrollbalkens */
  margin-right: 20px;
}

/* Track (Hintergrund des Scrollbalkens) */
::-webkit-scrollbar-track {
  background: rgba(20, 29, 47, 1); /* Hintergrundfarbe des Track */
}

/* Handle (beweglicher Teil des Scrollbalkens) */
::-webkit-scrollbar-thumb {
  background: rgba(112, 230, 28, 1); /* Farbe des beweglichen Teils */
  border-radius: 10px;
  cursor: pointer;
}

/* Handle bei Hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(151, 71, 255, 1); /* Farbe des beweglichen Teils beim Hover */
}

@import '@fortawesome/fontawesome-free/css/all.css';


.lets-talk {
  position: relative;
  z-index: 2;
  top: 20px;
  left: 25px;
  width: 170px;
  height: 58px;
  border-radius: 10px;
  padding: 15px 30px 15px 30px;
  gap: 10px;
  background-color: rgba(112, 230, 28, 1);
  color: white;
  border-style: none;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 23px;
  line-height: 27.6px;

  &:hover {
      background-color: rgba(151, 71, 255, 1);
      transition: ease-out 300ms;
      transform: scale(1.1);
      cursor: pointer;
  }
}
/* You can add global styles to this file, and also import other style files */
/* poppins-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/poppins-v21-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-500 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/poppins-v21-latin-500.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-600 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/poppins-v21-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/poppins-v21-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* poppins-800 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/poppins-v21-latin-800.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }

  