<section>
    <div class="container">
        <div class="footer-content">
            <div class="imprint">
                <img class="icon" src="/assets/img/icon.png">
                <a href="imprint" target="_blank">
                    <button class="imprint-button">{{'IMPRINT.ImprintTitle' | translate}}</button>
                </a>
            </div>
            <div>
                <p class="name">© Felix Koch 2024</p>
            </div>
            <div class="buttons-img">
                <a href="https://github.com/FelixKoch93" target="_blank">
                    <img src="../../../assets/img/github-button.svg" alt="">
                </a>
                <a href="mailto:felix.koch93@outlook.de">
                    <img src="../../../assets/img/email-button.svg" alt="">
                </a>
                <a href="https://www.linkedin.com/in/felix-koch-9b7b012a4/" target="_blank">
                    <img src="../../../assets/img/linkedin-button.svg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>